#resultDisplay {
    overflow : scroll;
    height: calc(100vh - 483px);
}

::-webkit-scrollbar {
    display: none;
}

#titleDiv {
    text-align: center;
    font-weight: bold;
    color:white
}

#subTitle {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

#outerFormDiv {
    display: flex;
    justify-content: space-around;
}

#formContainer {
    width: 1020px;
    border-style: solid;
    border-radius: 4px;
    background-color:#4CB648;
    border-color: #FCC72C;
    border-width: thick;
    margin-top: 10px;
}

.searchTitle {
    text-align: center;
    font-weight: bold;
}

#currentLocationDiv {
    text-align: center;
    margin-bottom: 10px;
}

#form {
    width: 1020px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

#form div {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#form input, label {
    display: block;
}

#form label {
    font-weight: bold;
}

#outerResultsDiv {
    display: flex;
    justify-content: space-around;
}

#resultsContainer {
    width: 1020px;
    margin-top: 20px;
    visibility: hidden;
}

#resultsHeader {
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #FCC72C;
}

#searchResultsLabel {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    display: inline;
    color: white;
}

#addressP {
    display: inline;
    margin-left: 8px;
    color: white;
}

#searchRadiusContainer {
    margin-right: 10px;
    margin-top: 10px;
}

#connectionTypeContainer {
    margin-right: 10px;
    margin-top: 10px;
}

.resultDiv {
    border-style: solid;
    border-radius: 4px;
    border-width: thick;
    background-color: #4CB648;
    border-color: #FCC72C !important;
    margin-top: 18px;
    margin-bottom: 4px;
    width: 870px;
}

.row1Div {
    display: flex;
    justify-content: space-between;
}

.resultTitle {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 3px;
    text-decoration: underline;
    font-weight: bold;
}

.resultAddress {
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0px;
}

.resultDistance {
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 8px;
}

.directionsButton {
    margin-right: 10px;
    margin-top: 10px;
}

.connectionsTitle {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 15px;
    margin-bottom: 5px;
}

.connectionsInfoContainer {
    margin-top: 10px;
    margin-bottom: 2px;
    display: flex;
    justify-content: left;
}

.connectionDiv {
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 2px;
    display: flex;
}

.ctimg {
    width: 65px;
    height: 65px;
    margin-right: 5px;
}

.connectionList {
    list-style-type: none;
    padding: 0;
}

.button {
    background-color: #FCC72C !important;
    color: #083C5A !important;
    font-weight: bold !important;
    border: 4px solid #083C5A !important;
    border-radius: 50px !important;
}

.selectorText {
    color: white;
}

.resultBlock {
    display: flex;
    justify-content: space-around;
}

.addressInput {
    border-radius: 5px;
}

#logo{
   width: 600px;
   margin-top: 15px;
}

#secDiv{
   background-color: #083C5A;
   width: 1200px;
}

#main{
    display: flex;
    justify-content: space-around;
}

.loader {
    border: 16px solid #083C5A; 
    border-top: 16px solid #FCC72C;
    border-bottom: 16px solid #FCC72C;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    top: 460px;
    left: calc(50vw - 60px);
    position: fixed;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loaderAndResults {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}