#mainTitle {
    text-align: center;
}
#formContainer {
    width: 1012px;
    position: absolute;
    border-style: solid;
    border-radius: 15px;
    background-color: beige;
    margin-top: 10px;
}

#formTitle {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

#formContainer div{
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#formContainer input, label {
    display: block;
}

#resultsContainer {
    width: 1012px;
    position: absolute;
    top: 200px;
    visibility: hidden;
}

#resultsHeader {
    height: 30px;
}

#searchResultsLabel {
    margin-left: 10px;
    margin-bottom: 5px;
    float: left;
    text-decoration: underline;
}

#searchRadiusContainer {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

#connectionTypeContainer {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

.resultDiv {
    border-style: solid;
    border-radius: 15px;
    background-color: beige;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 1012px;
}

.resultTitle {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 3px;
    text-decoration: underline;
}

.resultAddress {
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0px;
}

.resultDistance{
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 8px;
}

.connectionsInfoContainer {
    margin-top: 10px;
}

.connectionsTitle {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 15px;
    margin-bottom: 5px;
}

.connectionsInfoContainer span {
    float: left;
    display: block;
    margin-left: 15px;
}

.connectionList {
    list-style-type: none;
    padding: 0;
}
