#resultDisplay {
    overflow : scroll;
    height: calc(100vh - 473.5px);  
}

::-webkit-scrollbar {
    display: none;
}

#titleDiv {
    text-align: center;
    font-weight: bold;
    color:white
}

#mainTitle, #subTitle {
    font-weight: bold;
}

#outerFormDiv {
    display: flex;
    justify-content: space-around;
}

#formContainer {
    width: 1020px;
    border-style: solid;
    border-radius: 15px;
    background-color:#4CB648;
    border-color: #FCC72C !important;
    border-width: thick;
    margin-top: 10px;
}

.searchTitle {
    text-align: center;
    font-weight: bold;
}

#currentLocationDiv {
    text-align: center;
    margin-bottom: 25px;
}

#formContainer form {
    width: 1020px;
    display: flex;
    justify-content: space-evenly;
}

#formContainer form div{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#formContainer input, label {
    display: block;
}

#outerResultsDiv {
    display: flex;
    justify-content: space-around;
}

#resultsContainer {
    width: 1020px;
    margin-top: 20px;
    visibility: hidden;
}

#resultsHeader {
    height: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #FCC72C;
}

#searchResultsLabel {
    margin-left: 10px;
    font-weight: bold;
    display: inline;
    color: #E4F4FD;
}

#addressP {
    display: inline;
    margin-left: 8px;
    color: #E4F4FD;
}

#searchRadiusContainer {
    margin-right: 10px;
    margin-top: 10px;
}

#connectionTypeContainer {
    margin-right: 10px;
    margin-top: 10px;
}

.resultDiv {
    border-style: solid;
    border-radius: 15px;
    border-width: thick;
    background-color: #4CB648;
    border-color: #FCC72C !important;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 850px;
    

}

.row1Div {
    display: flex;
    justify-content: space-between;
}

.resultTitle {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 3px;
    text-decoration: underline;
    font-weight: bold;
}

.resultAddress {
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0px;
}

.resultDistance {
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 8px;
}

.directionsButton {
    margin-right: 10px;
    margin-top: 10px;
}

.connectionsInfoContainer {
    margin-top: 10px;
}

.connectionsTitle {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 15px;
    margin-bottom: 5px;
}

.connectionsInfoContainer span {
    float: left;
    display: block;
    margin-left: 15px;
}

.connectionList {
    list-style-type: none;
    padding: 0;
}

.button {
    background-color: #FCC72C !important;
    color: #083C5A !important;
    font-weight: bold !important;
    border: 4px solid #083C5A !important;
    border-radius: 50px !important;
}

.selectorText {
    color :#E4F4FD;
}

.resultBlock {
    display:flex;
    justify-content: space-around;
}

.addressInput {
    border-radius: 5px;
}
#logo{
   width: 600px;
   margin-top: 10px;
  
}

#secDiv{
   background-color: #083C5A !important;
   width:1300px;
   

}

#main{
    display:flex;
    justify-content: space-around;
}
